.base00 { color: #000000; }
.base01 { color: #655B53; }
.base02 { color: #6F665B; }
.base03 { color: #7c8776; }
.base04 { color: #776E61; }
.base05 { color: #b2c1aa; }
.base06 { color: #AA5B2B; }
.base07 { color: #b2c1aa; }
.base08 { color: #524B46; }
.base09 { color: #524B46; }
.base0A { color: #6F665B; }
.base0B { color: #655B53; }
.base0C { color: #887768; }
.base0D { color: #776E61; }
.base0E { color: #AA5B2B; }
.base0F { color: #887768; }

.base00-background { background-color: #000000; }
.base01-background { background-color: #655B53; }
.base02-background { background-color: #6F665B; }
.base03-background { background-color: #7c8776; }
.base04-background { background-color: #776E61; }
.base05-background { background-color: #b2c1aa; }
.base06-background { background-color: #AA5B2B; }
.base07-background { background-color: #b2c1aa; }
.base08-background { background-color: #524B46; }
.base09-background { background-color: #524B46; }
.base0A-background { background-color: #6F665B; }
.base0B-background { background-color: #655B53; }
.base0C-background { background-color: #887768; }
.base0D-background { background-color: #776E61; }
.base0E-background { background-color: #AA5B2B; }
.base0F-background { background-color: #887768; }
